﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.option.optiongroup.html" name="" title="max.option.optiongroup">max.option.optiongroup</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.option.optiongroup.SoundOptions.html" name="" title="SoundOptions">SoundOptions</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.sound.bank.html" name="" title="max.sound.bank">max.sound.bank</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.sound.bank.SoundBank.html" name="" title="SoundBank">SoundBank</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.sound.controller.html" name="" title="max.sound.controller">max.sound.controller</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.sound.controller.SoundController.html" name="" title="SoundController">SoundController</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.sound.effect.html" name="" title="max.sound.effect">max.sound.effect</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.sound.effect.MaxSoundInstance.html" name="" title="MaxSoundInstance">MaxSoundInstance</a>
                          </li>
                          <li>
                              <a href="max.sound.effect.MaxSoundInstance.SoundState.html" name="" title="MaxSoundInstance.SoundState">MaxSoundInstance.SoundState</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.sound.emitter.html" name="" title="max.sound.emitter">max.sound.emitter</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.sound.emitter.SoundEmitter.html" name="" title="SoundEmitter">SoundEmitter</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.sound.path.html" name="" title="max.sound.path">max.sound.path</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.sound.path.SoundPath.html" name="" title="SoundPath">SoundPath</a>
                          </li>
                          <li>
                              <a href="max.sound.path.SoundPathSequence.html" name="" title="SoundPathSequence">SoundPathSequence</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.sound.resource.html" name="" title="max.sound.resource">max.sound.resource</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.sound.resource.IMaxSound.html" name="" title="IMaxSound">IMaxSound</a>
                          </li>
                          <li>
                              <a href="max.sound.resource.ISoundResourceManager.html" name="" title="ISoundResourceManager">ISoundResourceManager</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.sound.xna.html" name="" title="max.sound.xna">max.sound.xna</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.sound.xna.MaxSoundInstanceXNA.html" name="" title="MaxSoundInstanceXNA">MaxSoundInstanceXNA</a>
                          </li>
                          <li>
                              <a href="max.sound.xna.MaxSoundXNA.html" name="" title="MaxSoundXNA">MaxSoundXNA</a>
                          </li>
                          <li>
                              <a href="max.sound.xna.SoundResourceManagerXNA.html" name="" title="SoundResourceManagerXNA">SoundResourceManagerXNA</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>